# MLOPS - Fichier d'environnement local

# 1. Configuration MLflow & MinIO (Pour le script de train local)
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
MLFLOW_TRACKING_URI=http://localhost:5000
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password123

# 2. Configuration du Cerveau Prefect (Orchestrateur)
PREFECT_API_URL=http://127.0.0.1:4200/api
POSTGRES_PASSWORD=un_mot_de_passe_robuste

# 3. Paramètres de l'API et du Modèle
MODEL_NAME=iris_model
MODEL_ALIAS=production