# Configuration MLflow & MinIO
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
MLFLOW_TRACKING_URI=http://localhost:5000
POSTGRES_PASSWORD=prefect_secure_pass
PREFECT_API_URL=http://localhost:4200/api

# Paramètres du modèle
MODEL_NAME=iris_model
MODEL_ALIAS=production