# MLOPS - Fichier d'environnement local

# Configuration MLflow & MinIO (Lus par ton PC physique)
MLFLOW_S3_ENDPOINT_URL=http://127.0.0.1:9000
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

# Configuration du Cerveau Prefect et de sa BDD
POSTGRES_PASSWORD=un_mot_de_passe_robuste
PREFECT_API_URL=http://127.0.0.1:4200/api

# Paramètres de l'API (Hot-Reloading)
MODEL_NAME=iris_model
MODEL_ALIAS=production